.header {
    &__top-inner {
        display: flex;
        min-height: 90px;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        margin-left: auto;
        margin-right: 50px;
        color: #546e7a;
        font-size: 15px;
        line-height: 24px;

        span {
            color: #e74c3c;
        }
    }

    &__btn {
        width: 72px;
        padding: 10px;
        border-radius: 4px;
        text-align: center;
        color: #ffffff;
        font-size: 12px;

        &-login {
            background-color: #8bc34a;
        }

        &-register {
            background-color: #e74c3c;
            margin-left: 7px;
        }
    }

    &__menu {
        background-color: #263238;
    }
}