.search {
  background: center center/cover no-repeat;
  min-height: 532px;
  padding: 156px 0 100px;
  color: #fff;
  text-align: center;

  &__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 34px;
  }

  &__descr {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 54px;
  }

  &__form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;

    input {
      height: 56px;
      display: block;
      width: 100%;
      box-shadow: 0 1px 10px rgba(124, 178, 64, 0.75);
      border-radius: 3px;
      border: none;
      padding: 0 60px 0 25px;
      color: #90a4ae;
      font-weight: 500;
      letter-spacing: 0.7px;
      outline: none;
      &::placeholder{
        color: #90a4ae;
      }
    }
    button{
      position: absolute;
      border:none;
      background-color: transparent;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }
  }
}